/*
* @Author: clj
* @Date:   2017-11-25 20:29:41
* @Last Modified by:   Administrator
* @Last Modified time: 2017-11-26 18:59:59
*/
html, body {
	height: 100%;
}
body {
	background: #eee;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #000;
	margin: 0;
	padding: 0;
}
.container{
	height: 100%
}
.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}


/*初始化滚动条的样式*/
.swiper-container-vertical>.swiper-pagination-bullets{
	left: 10px;
	right: auto;
}

.swiper-pagination-bullet{
	background: #999;
	opacity: 1;
}
.swiper-pagination-bullet-active{
	background: #007aff;
}
@media (max-width: 768px) {
	.swiper-container-vertical>.swiper-pagination-progressbar{
		width: 2px;
	}
}

.page{
	width: 100%;
	height: 100%;
	position: relative;
}
.page1-bg{
	background: url(../images/index/bg-page1.jpg) no-repeat center;
	background-size: cover;
}
.page2-bg{
	background: url(../images/index/bg-page2.jpg) no-repeat center;
	background-size: cover;
}
.page3-bg{
	background: url(../images/index/bg-page3.jpg) no-repeat center;
	background-size: cover;
}
.page4-bg{
	background: url(../images/index/bg-page4.jpg) no-repeat center;
	background-size: cover;
}
.page5-bg{
	background: url(../images/index/bg-page5.jpg) no-repeat center;
	background-size: cover;
}
.page6-bg{
	background: #000;
}


.swiper-slide.menu{
	padding-top: 100px;  
	text-align: right;
	display: block;
}

.swiper-slide.menu .slider-bar{
	width: 100%;
}

.swiper-slide.menu .slider-bar a{
	color: #fff;
	display: block;
	width: 240px;
	margin-right: 15px;
}
.swiper-slide.menu .slider-bar .nav-en{
		font-size: 26px;
		font-weight: 700;
	}
	.swiper-slide.menu .slider-bar .nav-cn{
		font-size: 14px;
	}
.swiper-slide.menu .slider-bar ul li{
	padding: 6px 0;
	margin-top: 30px;
	width: 100%;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
}
.line {
	width: 20%;
	height: 2px;
	background: #9ebeff;
	margin: 2px 0;
	transition: all .3s ease-in-out;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
}

@media (min-width: 768px) {
	.swiper-slide.menu .slider-bar ul li:hover{
		background: #222;
	}
	.swiper-slide.menu .slider-bar ul li:hover .line{
		width: 100%;
	}
}

/* 第一屏样式开始 */

.page1-con{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	width: 92%;
	max-width: 500px;
	margin: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
	transform: translateY(-50%); 
}
.round{
	position: absolute;
	width: 80%;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 300px;
}
.line-bg{
	width: 100%;
	max-width: 500px;
	min-width: 320px;
}
.page1-con img{
	width: 100%
}
.page1-desc{
	padding-top: 90px;
}
.page1-desc p{
	font-size: 20px;
	color: #333;
}

.page1-desc span{
	font-size: 10px;
}

/* 第一屏样式结束 */

/* 第二屏样式开始 */

.page2-con{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	width: 80%;
	max-width: 500px;
	margin: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
	transform: translateY(-50%); 
}
.month{
	width: 100%;
	max-width: 360px;
	margin: auto;
}
.creative{
	position: absolute;
	top: 50%;
	width: 70%;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 240px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
	transform: translateY(-50%);
}
.page2-con img{
	width: 100%
}
.page2-desc{
	padding-top: 40px;
}
.page2-desc p{
	font-size: 20px;
	color: #fff;
}

.page2-desc span{
	font-size: 10px;
	color: #fff;
}

/* 第二屏样式结束 */


/* 第三屏样式开始 */

.page3-con{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	width: 86%;
	max-width: 500px;
	margin: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
	transform: translateY(-50%); 
}
.ball-line, .flower, .page3-desc{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: auto;
	webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
	transform: translateY(-50%);
	
}
.ball-line{
	width: 100%;
	max-width: 500px;
	z-index: 10;
}
.flower{
	width: 90%;
	max-width: 400px;
	z-index: 9;
}
.page3-con img{
	width: 100%
}
.page3-desc{
	z-index: 11;
}
.page3-desc p{
	font-size: 32px;
	color: #fff;
}

.page3-desc span{
	font-size: 16px;
	color: #fff;
}
@media (max-width: 500px) {
	.page3-desc p{
	font-size: 24px;
	color: #fff;
}

.page3-desc span{
	font-size: 12px;
	color: #fff;
}
}
/* 第三屏样式结束 */

/* 第四屏样式开始 */

.page4-con{
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	width: 92%;
	max-width: 500px;
	margin: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
	transform: translateY(-50%); 
}
.stock{
	position: absolute;
	width: 90%;
	top: 50%;
	left: 0;
	right: 0;
	margin: auto;
	max-width: 400px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
	transform: translateY(-50%); 
}
.line-bg{
	width: 100%;
	max-width: 500px;
	min-width: 320px;
}
.page4-con img{
	width: 100%
}

.page4-desc p{
	font-size: 18px;
	color: #333;
}

.page4-desc span{
	display: block;
	font-size: 10px;
	color: #333;
}

/* 第四屏样式结束 */