* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑", "microsoft yahei";
}

ul,
li {
	list-style: none;
}

a {
	display: block;
	text-decoration: none;
}

img {
	display: block;
	border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

.clearfix {
	zoom: 1;
}

.clearfix:after {
	content: ' ';
	width: 0;
	height: 0;
	display: block;
	clear: both;
	visibility: hidden;
}

.clear {
	clear: both;
}

body {
	padding-top: 50px;
}


/*--------------------导航开始----------------------*/

.top_con {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: #FFFFFF;
	height: 50px;
	padding: 0 15px;
	z-index: 99999;
}

.top_con.box_shaw {
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.top_container {
	position: absolute;
	box-shadow: 0px 2px 10px #CCCCCC;
	width: 100%;
	background: #FFFFFF;
}

.top {
	height: 50px;
	margin: auto;
	max-width: 1600px;
}

.logo {
	float: left;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo img {
	width: 120px;
	float: left;
}

.logo .logo_n {
	float: left;
	font-size: 14px;
	color: #4a4a4a;
}

.nav_1 {
	float: right;
	font-size: 0;
}

.nav_2 {
	display: inline-block;
	text-align: center;
}

.heard_nav .nav_2 .navact {
	position: relative;
	display: block;
	padding: 15px;
	cursor: pointer;
}

.heard_nav .nav_2 .navact a {
	color: #4A4A4A;
	font-size: 14px;
	text-decoration: none;
}

.heard_nav .nav_2 .navact img {
	display: none;
	width: 18px;
	top: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
	right: 15px;
}

.heard_nav .nav_2 .navact .img_r {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
}

.heard_nav .nav_2 .navact:hover {
	background: #FF4F19;
}

.heard_nav .nav_2 .navact:hover a {
	color: #fff;
}

.bg_nav {
	position: absolute;
	display: none;
	left: 0;
	right: 0;
	background: #FFFFFF;
	height: 50px;
	padding: 0 15px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	margin: auto;
}

.nav_max_container {
	max-width: 1600px;
	margin: auto;
}

.bg_nav .nav_3 {
	float: right;
	text-align: left;
	background: #FFFFFF;
	font-size: 0;
}

.nav_3 li {
	display: inline-block;
}

.nav_3 .nav_4 {
	float: left;
	margin-left: 53px;
}

.nav_3 li a {
	display: block;
	padding: 15px;
	font-size: 14px;
	color: #666;
	text-decoration: none;
}

.nav_3 li a:hover {
	color: #FF4F19;
}

.nav_3 .nav_one {
	margin-left: 0;
}

.hamburger {
	position: relative;
	display: none;
	float: right;
	width: 30px;
	margin-top: 14px;
	height: 24px;
	cursor: pointer;
}

.hamburger .line {
	position: absolute;
	transition: all 0.3s ease;
	top: 0;
	width: 30px;
	height: 3px;
	background-color: #666;
}

.hamburger:before {
	position: absolute;
	display: block;
	content: "";
	top: 10px;
	width: 30px;
	height: 3px;
	background-color: #666;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.hamburger.is-active .line {
	-webkit-transform: translate3d(0, 10px, 0) rotate(135deg);
	transform: translate3d(0, 10px, 0) rotate(135deg);
}

.hamburger.is-active:before {
	opacity: 0;
	transform: translate3d(-20px, 0, 0);
}

.hamburger.is-active:after {
	-webkit-transform: translate3d(0, -10px, 0) rotate(-135deg);
	transform: translate3d(0, -10px, 0) rotate(-135deg);
}

.hamburger:after {
	display: block;
	position: absolute;
	top: 20px;
	content: " ";
	width: 30px;
	height: 3px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	background-color: #666;
}

@media (min-width:769px) {
	.nav_3 li {
		transform: translateY(-10px);
		-webkit-transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		opacity: 0;
	}
	.nav_3 li:nth-child(1) {
		transition: all 0.3s 0.3s ease;
		-webkit-transition: all 0.3s 0.3s ease;
		-moz-transition: all 0.3s 0.3s ease;
		-ms-transition: all 0.3s 0.3s ease;
	}
	.nav_3 li:nth-child(2) {
		transition: all 0.3s 0.4s ease;
		-webkit-transition: all 0.3s 0.4s ease;
		-moz-transition: all 0.3s 0.4s ease;
		-ms-transition: all 0.3s 0.4s ease;
	}
	.nav_3 li:nth-child(3) {
		transition: all 0.3s 0.5s ease;
		-webkit-transition: all 0.3s 0.5s ease;
		-moz-transition: all 0.3s 0.5s ease;
		-ms-transition: all 0.3s 0.5s ease;
	}
	.nav_3 li:nth-child(4) {
		transition: all 0.3s 0.6s ease;
		-webkit-transition: all 0.3s 0.6s ease;
		-moz-transition: all 0.3s 0.6s ease;
		-ms-transition: all 0.3s 0.6s ease;
	}
	.nav_3 li:nth-child(5) {
		transition: all 0.3s 0.7s ease;
		-webkit-transition: all 0.3s 0.7s ease;
		-moz-transition: all 0.3s 0.4s ease;
		-ms-transition: all 0.3s 0.4s ease;
	}
	.nav_3 li:nth-child(6) {
		transition: all 0.3s 0.8s ease;
		-webkit-transition: all 0.3s 0.8s ease;
		-moz-transition: all 0.3s 0.5s ease;
		-ms-transition: all 0.3s 0.5s ease;
	}
}

@media (max-width: 768px) {
	.hamburger {
		display: block;
	}
	.nav_1 {
		position: fixed;
		display: none;
		float: none;
		left: 0;
		right: 0;
		top: 50px;
		margin: auto;
		background: #fff;
		max-height: 300px;
		overflow-y: scroll;
		box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
	}
	.nav_1 .nav_2 {
		display: block;
		padding: 0;
		text-align: left;
	}
	.nav_1 .nav_2:hover {
		display: #fff;
	}
	.heard_nav .nav_2 .navact {
		padding: 10px 15px;
		background: #f8f8f8;
		border-bottom: 1px solid #f2f2f2;
	}
	.heard_nav .nav_2 .navact:hover {
		background: #f8f8f8;
	}
	.heard_nav .nav_2 .navact:hover a {
		color: #666;
	}
	.heard_nav .nav_2 .navact img {
		display: block;
	}
	.bg_nav {
		position: relative;
		display: none;
		box-shadow: none;
		height: auto;
	}
	.bg_nav li {
		padding: 0 15px;
		border-bottom: 1px solid #f2f2f2;
	}
	.bg_nav li:last-of-type {
		border: none;
	}
	.bg_nav li a {
		padding: 10px 15px;
	}
	.bg_nav .nav_3 {
		float: none;
	}
	.nav_3 li {
		display: block;
	}
}


/*导航样式结束*/


/*底部样式开始*/

.footer {
	width: 100%;
	padding-top: 40px;
	background: #363a3e;
}

.footer_1 {
	background: #363a3e;
	margin: auto;
	padding: 0 15px;
}

.dl {
	max-width: 1200px;
	margin: auto;
}

.dl ul {
	float: left;
	margin-left: 6%;
}

.dl .ul_dl {
	margin-left: 0px;
}

.footer_nav_tit p {
	font-size: 18px;
	color: #88dff9;
	font-family: "微软雅黑";
	margin-bottom: 15px;
}

.dl ul li a {
	font-size: 16px;
	color: #FFFFFF;
}

.erweima {
	float: right;
	margin-left: 14%;
	text-align: center;
}

.erweima img {
	margin: 0 auto 10px;
}

.erweima p {
	color: #FFFFFF;
	font-size: 14px;
	margin: 0;
}

.banquan {
	color: #FFFFFF;
	padding: 15px 15px;
}

.banquan_pad {
	max-width: 1200px;
	margin: auto;
}

.banquan_1 {
	margin: 0;
	font-size: 14px;
}

.footer .hr {
	height: 1px;
	width: 100%;
	background: #666;
	margin-top: 40px;
}

.plus {
	display: none;
	width: 15px;
	height: 15px;
	float: right;
	position: relative;
	top: 4px;
	transition: all 0.3s ease;
}

.plus:after {
	position: absolute;
	display: block;
	content: " ";
	width: 15px;
	height: 1px;
	top: 50%;
	background: #88dff9;
	margin-top: -1px;
}

.plus:before {
	position: absolute;
	display: block;
	content: " ";
	width: 1px;
	height: 15px;
	left: 50%;
	margin-left: -1px;
	background: #88dff9;
}

.footer_nav_tit:hover .plus {
	transform: rotate(45deg);
}

@media (max-width:768px) {
	.footer {
		padding-top: 0;
	}
	.dl ul {
		display: block;
		width: 100%;
		margin: 0;
		float: none;
	}
	.footer_nav_tit {
		padding: 10px 15px;
		border-bottom: 1px solid #666;
	}
	.plus {
		display: block;
	}
	.footer_1 {
		padding: 0;
	}
	.dl ul li {
		padding: 10px 15px;
		background: #f2f2f2;
		border-bottom: 1px solid #e5e5e5;
		display: none;
	}
	.dl ul li a {
		color: #666;
		text-decoration: none;
	}
	.erweima {
		float: none;
		margin: 20px auto 0;
	}
	.footer .hr {
		margin-top: 20px;
	}
	.erweima img {
		margin: auto;
	}
	.dl .footer_nav_tit p {
		margin: 0;
		font-size: 16px;
	}
	.banquan_pad {
		text-align: center;
	}
}

.go_top {
	position: fixed;
	display: none;
	bottom: 80px;
	right: 20px;
	height: 40px;
	width: 40px;
	line-height: 40px;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	text-align: center;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}


/*底部样式结束*/